html,
body {
    height: 100%;
}

.terminal-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: text;
    background-color: #1b1b1b;
}

.terminal-content {
    padding: 0px 20px 20px 20px;
    font-size: 15px;
    line-height: 20px;
    white-space: pre-wrap;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

.terminal-banner {
    color: #a89984;
    text-shadow: 0 0 5px #a89984;
    line-height: normal;
    font-weight: bold;
    font-size: calc(1vw + 7px);
    margin-bottom: 20px;
}
@media only screen and (max-width: 400px) {
    .terminal-banner {
        font-size: 8px;
    }
}

@media only screen and (max-width: 300px) {
    .terminal-banner {
        font-size: 6px;
    }
}

.terminal-welcome-message {
    margin-bottom: 5px;
    color: #aaa;
}

.terminal-command-output {
    padding: 10px 10px 10px 0px;
    max-width: 800px;
}

.terminal-command-output li {
    display: flex;
}

.terminal-command-output li span {
    color: #8fee96;
    text-shadow: 0 0 4px #eeeeee;
}

.terminal-command-output ul {
    margin-top: 0;
}

.terminal-command-record {
    scroll-margin: 15px;
    display: flex;
}

.terminal-input-area {
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.terminal-prompt {
    margin-right: 5px;
    color:  #458588;
}

.terminal-heading::before {
    margin-right: 5px;
    content: "-- ";
}

.terminal-input {
    outline: none;
    font-family: inherit;
    font-size: 12px;
    color: #8fee96;
    background-color: #8fee96;
    position: relative;
    opacity: 1;
    height: 1.5em;
    width: 10px;
    max-width: 10px;
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.terminal-error-group {
    display: flex;
    gap: 5px;
}

.terminal-error {
    color: #cc241d;
}

.terminal-glow {
    color: #8fee96;
    text-shadow: 0 0 4px #8fee96;
}

a {
    color: #f0bf81;
    cursor: pointer;
}
a:hover {
    color: black;
    background-color: #f0bf81;
    text-decoration: none;
}
